.clear {
  clear: both; }

a {
  text-decoration: underline;
  color: black; }
  a:visited {
    color: #000055; }

a.link {
  color: blue; }

li ul li {
  page-break-inside: avoid; }

body {
  font: 16px Garamond,serif;
  padding: 0.5em 2em; }

h1, h2, h3 {
  margin: 0.5em 0;
  page-break-after: avoid; }

h1 {
  margin-top: 20px; }

h2 {
  font-weight: bold; }

h3 {
  font-weight: normal; }

h4 {
  margin: 0;
  padding-left: 1em; }

h1 {
  font-size: 1.2em; }

h2 {
  font-size: 1.1em; }

h3 {
  font-size: 1em;
  font-style: italic;
  margin-bottom: 5px; }

h1 + p, h2 + p, h3 + p {
  margin-top: 0; }

p {
  margin: 0; }

ul {
  margin: 0;
  padding-left: 1em; }

li {
  list-style: none outside none; }

ul.circle {
  list-style-type: circle; }

.left {
  float: left;
  width: 200px; }

.right {
  float: right;
  width: 200px; }

.center {
  margin: 0 auto;
  width: 200px; }

.resume {
  margin: 0 auto;
  max-width: 50em; }
  .resume .info {
    border-bottom: 1px solid #CCCCCC;
    padding: 1em 0 0 0;
    text-align: center; }
    .resume .info p {
      margin: 0.3em; }
    .resume .info .name {
      font-size: 1.2em;
      font-weight: bold; }
    .resume .info .contact {
      width: 100%; }
      .resume .info .contact .email {
        background: none repeat scroll 0 0 #EEEEEE;
        display: inline-block;
        margin-right: 0.2em;
        margin-bottom: 0.4em;
        padding: 0.2em; }
      .resume .info .contact .address {
        text-align: right;
        margin-top: 10px; }
  .resume .experience .job {
    margin-bottom: 10px; }
  .resume .experience .location {
    float: right; }
  .resume .experience .projects li {
    margin: 5px 0; }
  .resume .experience .projects .times {
    font-size: 0.8em;
    font-weight: normal;
    vertical-align: middle; }
  .resume .experience .projects .items li {
    list-style-type: disc; }
  .resume .competencies ul {
    padding-left: 0; }
  .resume .competencies li.category {
    float: left;
    padding-right: 10px;
    margin-right: 10px; }
  .resume .competencies ul li, .resume .affiliations li, .resume .languages li {
    background: none repeat scroll 0 0 #EEEEEE;
    display: inline-block;
    margin-right: 0.2em;
    margin-bottom: 0.4em;
    padding: 0.2em; }
  .resume .competencies ul li.first, .resume .affiliations li.first, .resume .languages li.first {
    background-color: #FFF; }
  .resume .affiliations li, .resume .conferences li {
    padding: 0.5em; }
  .resume .affiliations .location, .resume .conferences .location {
    color: #444444;
    font-size: 0.9em; }
